/* Landing Page Wrapper */
.landing-wrapper {
  min-height: 100vh;
  background-image: url("../img/hero.png"); /* Full-body background */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Overlay for readability */
.landing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;
}

/* Header Styles */
.header-section {
  padding: 20px;
  background-color: #08194a; /* Green gradient */
  color: #fff; /* White text/buttons for contrast */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  position: relative;
  z-index: 2;
}

.header-title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff; /* White for contrast */
}

.header-logo {
  margin-top: -8px;
  height: 60px;
}

/* Button Styles */
.btn-primary {
  background-color: #f93411; /* Green */
  border-color: #ec1a1a; /* Green */
  color: #fff; /* White for contrast */
}
.btn-primary:hover {
  background-color: #f90000; /* Green */
  border-color: #ec1a1a; /* Green */
  color: #fff; /* White for contrast */
}
/* Hero Styles */
.hero-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 30px;
}

/* Footer Styles */
.footer-section {
  padding: 20px;
  background: linear-gradient(
    to right,
    #08194A,
    #081920
  ); /* Matching green gradient */
  color: #fff;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2); /* Shadow upwards */
  position: relative;
  z-index: 2;
}

.footer-section p {
  margin: 0;
  font-size: 0.9rem;
  color: #fff; /* White for contrast */
}
